{%extends 'base.html'%}
{% load static%}
{% block content %}
{{block.super}}

<style>
    #suggestions{
        position:fixed;
        top:80px;
        right:0;
        }
@media screen and (max-width:992px){
    #suggestions{
        position:absolute;
        right:auto;
        top:auto;
    }
}

</style>
<div class="container row" style='margin-top:90px'>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
        <div class="col-md-7 col-lg-7">
            {% for project in projects %}
            <div class='panel panel-default'>
               <div class='panel-heading'><h5><a href="/profile/{{project.profile.id}}" style='text-decoration: none;'><b>{{project.user}}</a></b><br><small><i class="fas fa-map-marker-alt"></i>{{project.location}}</small></h5></div>
                <div class='panel-body'>
                    <a href="/project/{{project.id}}"><img src="{{project.image.url}}" width='100%' class="project" alt="project" ></a><br><br><p>{{project.title}}</p>
                </div>
                    <div class='panel-footer'><a href="/project/{{project.id}}">Vote and Rate </a></div>
             </div><br><br>
            {% endfor %}
</div>
{%endblock%}