{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <style>
    nav{
      position:fixed;
      top:0;
      width:100%;
      background-color: black;
      color: white;
      z-index:2;
      font-family: 'Vollkorn', serif;
      text-transform: uppercase;
    }
    .navbar-brand{
      font-family: 'Fraunces', serif;
    }
    i{
      padding-right:5px;
    }
    nav a{
      text-decoration: none;
      color:white;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-award"></i> Demy Awwards</a>
    </div>
  <div class="nav navbar-right">
    <ul class="nav navbar-nav col-md-6">
      <li>
            <form class="form-inline" role="search" action="{% url 'search_results' %}">
                <input type="text" class="search-input" name="post" placeholder="Search by title.." id="search">
            </form>
      </li>
        {% if user.is_authenticated %}
        <li class="dropdown nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}} <i class="fas fa-caret-down"></i>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'my_profile' %}">Profile</a></li>
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
    <li>
      <a class='btn btn-default' href="">Login</a>
    </li>
    {% endif %}
    <li><a href="" class="nav-link">Submit your site</a></li>
    </ul>

  </div></div>
</nav>
</body>
</html>